// Colors
$dark-blue: #001b3c;
$blue: #004ba8;
$white: #fff;
$black: #000;
$light-gray: #f2f2f2;
$dark-gray: #707070;
$yellow: #f2cd3a;

// GRADIENT
$gradientBlue: linear-gradient(
  120deg,
  rgba(38, 208, 206, 1) 0%,
  rgba(0, 75, 168, 1) 100%
);

// fonts
$font-primary: "Montserrat", sans-serif;

//MEDIA QUERIES

// Mixin for media queries

@mixin for-phone-only {
  @media (max-width: 589px) {
    @content;
  }
}
@mixin for-large-phone-only {
  @media (max-width: 650px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (max-width: 900px) {
    @content;
  }
}
@mixin for-small-desktop-up {
  @media (max-width: 990px) {
    @content;
  }
}
@mixin for-reg-desktop-up {
  @media (max-width: 1080px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (max-width: 1180px) {
    @content;
  }
}
@mixin for-med-desktop-up {
  @media (max-width: 1380px) {
    @content;
  }
}
@mixin for-lg-desktop-up {
  @media (max-width: 1470px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (max-width: 1780px) {
    @content;
  }
}
// 2k SCREENS AND UP

// reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}
body {
  font-family: $font-primary;
}
i {
  margin: 0 0.2rem;
  font-size: 2rem;
}
.form-control {
  font-family: $font-primary;
}

.container {
  display: grid;
  grid-template-columns:
    [full-start] minmax(1rem, 5rem) [ center-start] 1fr [center-end] minmax(
      1rem,
      5rem
    )
    [full-end ];
  grid-template-rows:
    [hero-start]100vh [page-content] max-content
    [footer] max-content;

  @include for-tablet-portrait-up {
    grid-template-rows:
      [hero-start]65vh [page-content] max-content
      [footer] max-content;
  }
}
.container--slim {
  display: grid;
  grid-template-columns:
    [full-start] minmax(1rem, 5rem) [ center-start] 1fr [center-end] minmax(
      1rem,
      5rem
    )
    [full-end ];
  grid-template-rows:
    [hero-start]75vh [page-content] max-content
    [footer] max-content;
}

.hide-on-tablet {
  display: block;
  @include for-tablet-portrait-up {
    display: none;
  }
}
.show-on-tablet {
  display: none;
  @include for-tablet-portrait-up {
    display: block;
  }
}
.mobile-only {
  display: none;
  @include for-tablet-portrait-up {
    display: block !important;
  }
}
.hide-on-small-desktop {
  @include for-small-desktop-up {
    display: none !important;
  }
}
.show-on-small-desktop {
  @include for-small-desktop-up {
    display: block !important;
  }
}
.flex-on-small-desktop {
  display: none;
  @include for-small-desktop-up {
    display: flex !important;
  }
}
