@import "../abstracts/RFS";
// ===================================//
.card-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}
.drop-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.text-shadow {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}
.fs {
  &-1 {
    @include font-size(1.2rem);
  }
  &-2 {
    @include font-size(2rem);
  }
  &-3 {
    @include font-size(3rem);
  }
  &-4 {
    @include font-size(4rem);
  }
}
.display {
  &-1 {
    @include font-size(2rem);
  }
  &-2 {
    @include font-size(3rem);
  }
  &-3 {
    @include font-size(6rem);
  }
  &-4 {
    @include font-size(5rem);

    @include for-tablet-landscape-up {
      @include font-size(4rem);
    }
    @include for-large-phone-only {
      @include font-size(3rem);
    }
  }
}

.text {
  // TEXT COLORS
  &--blue {
    color: $blue !important;
  }
  &--white {
    color: $white !important;
  }
  &--darkblue {
    color: $dark-blue !important;
  }
  &--darkgray {
    color: $dark-gray !important;
  }
  &--lightgray {
    color: $light-gray !important;
  }
  // TEXT WEIGHTS
  &--bold {
    font-weight: 700;
  }
  &--light {
    font-weight: 400;
  }
}
.icon {
  &--blue {
    color: $blue;
  }
  &--white {
    color: $white;
  }
  &--darkblue {
    color: $dark-blue;
  }
  &--darkgray {
    color: $dark-gray;
  }
  &--lightgray {
    color: $light-gray;
  }
  &--yellow {
    color: $yellow;
  }
}

.bg {
  &-blue {
    background-color: $blue !important;
  }
  &-white {
    background-color: $white !important;
  }
  &-darkblue {
    background-color: $dark-blue !important;
  }
  &-gradient {
    background: $gradientBlue !important;
  }
}

.hidden {
  display: none;
}
.full-width {
  grid-column: full-start/full-end;
}
.place-center {
  grid-column: el-center/el-center-end;
}
.divider {
  border-bottom: 1.2px solid $light-gray;
}

.overflow-y {
  overflow-y: scroll;
}
