@import "../abstracts/RFS";
// ===================================//

.listing {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem 1rem;

  @include for-tablet-landscape-up {
    flex-direction: column;
    align-items: unset;
  }
  &:not(:last-child) {
    border-bottom: 1.5px solid $dark-gray;
  }

  &__header {
    width: 100%;
    @include for-tablet-landscape-up {
      display: none;
    }
    h4 {
      color: black;
    }
  }
  // LISTING ITEMS
  &__toggle {
    flex-basis: 20%;
    display: flex;
    align-items: center;

    @include for-tablet-landscape-up {
      order: 2;
    }
  }
  &__name {
    flex-shrink: 0;
    flex-basis: 45%;
    color: $blue;
    display: flex;
  }
  &__revenue {
    flex-basis: 20%;
    color: $blue;
    display: flex;
    align-items: center;
  }
  &__action {
    flex-basis: 15%;
    display: flex;
    align-items: center;
  }
  // LISTING ITEM
  &--item {
    margin: 1rem 0;
    @include for-tablet-landscape-up {
      &:before {
        content: attr(data-label);
        flex-basis: 20%;
        text-align: right;
        color: $dark-gray;
        @include font-size(1.5rem);
        padding-right: 1rem;
      }
    }
  }
}

.tab-document {
  padding: 3rem;
  display: flex;
  justify-content: space-around;
  color: $blue;

  @include for-tablet-landscape-up {
    flex-wrap: wrap;
  }
  .file {
    display: grid;
    justify-items: center;
    grid-gap: 1rem;

    &__name {
      @include font-size(1.3rem);
    }

    @include for-tablet-landscape-up {
      margin: 1rem 2rem;
      flex-basis: 100%;
    }
  }
  .upload {
    padding: 8rem 2rem;
    height: 15rem;
    width: 80%;
    border: 0.3rem dashed $blue;
    border-radius: 0.5rem;
    display: grid;
    grid-gap: 0.5rem;
    justify-items: center;
    align-content: center;
    justify-content: center;
    &__icon {
      i {
        @include font-size(7.3rem);
      }
    }
  }
}
.tab-availability {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .time {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 1rem;
    align-items: center;
    span {
      text-transform: uppercase;
      color: $dark-gray;
      @include font-size(1.3rem);

      align-self: flex-end;
      span {
        color: $blue;
      }
    }
    .timetable {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1rem;
      button {
        @include font-size(1.3rem);
        width: 100%;
        color: $blue;
        border: 2px solid $blue;
        padding: 1rem;
        &:hover {
          color: $dark-blue;
          border: 2px solid $dark-blue;
        }
      }
      @include for-tablet-portrait-up {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    button {
      justify-self: center;
    }
  }
}
