.hero__nav {
  background-color: $white;

  height: 100%;
  width: 95%;
  max-width: 145rem;
  padding: 2rem;

  .nav__content {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-column-gap: 1rem;
    justify-content: center;
    align-items: center;

    @include for-small-desktop-up {
      grid-template-columns: 1fr;
      grid-gap: 1rem;
      grid-template-rows: repeat(2, max-content);
    }

    .form-control {
      height: 100%;
    }
  }
}

.spaces__filter {
  grid-column: full-start/full-end;
  background-color: $light-gray;

  padding: 3rem 3rem;

  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 1rem;
  justify-content: center;

  @include for-small-desktop-up {
    grid-template-columns: repeat(2, auto);
  }
  @include for-phone-only {
    grid-template-columns: 1fr;
  }
  button {
    align-self: center;
    @include for-small-desktop-up {
      grid-column: span 2;
    }
  }
}
