.property {
  grid-column: full-start/full-end;
  grid-row: col-start 1 / col-end 2;

  display: grid;
  grid-template-columns: [property-info] 3fr [property-map]25vw;

  font-family: $font-primary;
  margin-top: 5%;
  @include for-tablet-portrait-up {
    grid-template-columns: [property-info] 3fr;
  }
  &__map {
    grid-column: property-map;
    position: fixed;
    right: 0;

    width: 25vw;
    height: 100vh;
    overflow: hidden;

    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    @include for-tablet-portrait-up {
      display: none;
    }
  }

  &__overview {
    grid-column: property-info;

    display: grid;
    grid-template-columns: minmax(1.5rem, 3rem) [property-card] 0.5fr [property-tabs]1fr;
    grid-template-rows: [property-image]auto [property-details]1fr;
    &--image {
      grid-column: 1/-1;
      grid-row: property-image;

      position: relative;
      @include for-large-phone-only {
        grid-column: 1/-1;
        grid-row: 1/2;
      }
      img {
        width: 100%;
        height: auto;
        display: block;
      }

      .map-icon {
        display: none;
        position: absolute;
        font-size: 2rem;
        bottom: 2rem;
        right: 2rem;
        width: 5rem;
        height: 5rem;
        color: $white;
        transition: all 0.3s ease-in-out;
        background-color: $blue;
        border-radius: 5rem;
        &:hover {
          transform: scale(1.3);
          color: red;
          transition: all 0.3s ease-in-out;
        }
        i {
          position: absolute;
          top: 50%;
          left: 45%;
          transform: translate(-50%, -50%);
        }
      }
    }
    &--card {
      grid-column: property-card;
      grid-row: property-details;
      position: relative;
      top: -10rem;
      height: 33rem;

      max-width: 30.5rem;

      background-color: $white;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
      padding: 2rem 1.5rem;

      display: grid;
      grid-template-areas:
        "title"
        "address"
        "price"
        "features"
        "divider"
        "buttons";
      transition: all 0.2s ease-in-out;

      @include for-desktop-up {
        top: -5rem;
        transition: all 0.2s ease-in-out;
      }
      @include for-tablet-portrait-up {
        max-width: 100%;
        top: -3rem;
        height: auto;
        transition: all 0.2s ease-in-out;
      }
      @include for-large-phone-only {
        grid-column: 1/-1;
        grid-row: 2/3;

        top: 0;

        grid-template-areas:
          "title title"
          "address price"
          "features features "
          "buttons buttons ";

        grid-gap: 1.5rem;
        justify-items: center;
      }
    }
    &--tabs {
      background-color: $white;
      grid-column: property-tabs;
      grid-row: property-details;

      margin: 0 1rem;
      padding: 1rem 1.2rem;

      @include for-large-phone-only {
        grid-column: 1/-1;
        grid-row: 3/-1;
      }
    }
    @include for-large-phone-only {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto 1fr;
    }
  }
  &__slides {
    grid-column: property-info;
    padding: 0 3rem;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  &__cards {
    grid-column: property-info;
    padding: 1.8rem 3rem;
    h2 {
      font-size: 2rem;
      font-weight: 400;
      padding: 3rem 0;
    }

    .divider {
      border: none;
      border-bottom: 2px solid black;
      margin: 3rem 0;
    }
  }
}
.card {
  &__title {
    font-weight: normal;
    font-size: 2.2rem;
    grid-area: title;

    @include for-small-desktop-up {
      font-size: 1.8rem;
    }
  }
  &__address {
    font-size: 1.5rem;
    font-weight: 300;
    grid-area: address;

    & > span > i {
      color: $blue;
      font-size: 1.3rem;
    }
    @include for-small-desktop-up {
      font-size: 1.3rem;
    }
  }
  &__price {
    margin-top: 1.5rem;
    color: $blue;
    grid-area: price;

    @include for-small-desktop-up {
      font-size: 1.5rem;
    }
    @include for-large-phone-only {
      margin-top: 0;
    }
  }
  &__features {
    display: flex;
    justify-content: space-around;
    grid-area: features;
    &--bedroom {
      @include for-large-phone-only {
        margin: 0 1rem;
      }
    }
    span {
      font-size: 1.5rem;
    }
    i {
      color: $blue;
    }
  }
  &__divider {
    grid-area: divider;
    border: none;
    border-top: 0.1rem solid rgb(128, 128, 128);
    @include for-large-phone-only {
      display: none;
    }
  }
  &__buttons {
    grid-area: buttons;
    justify-self: center;
    display: flex;
    flex-direction: column;

    button {
      font-size: 1rem !important;
      width: 17rem !important;
      margin: 0.5rem 1rem !important;

      &:last-child {
        border-color: $blue;
        color: $blue;
      }
    }

    @include for-large-phone-only {
      flex-direction: row;
    }
  }
}
.tab {
  &__toggle {
    display: none;
  }

  &__title {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 1.5rem 2.5rem;

    font-size: 1.2rem;

    text-align: center;
    color: #abc;
    border: 1px solid transparent;

    &:hover {
      color: #789;
      cursor: pointer;
    }

    @include for-small-desktop-up {
      font-size: 1rem;
    }
  }
  &__toggle:checked + &__title {
    color: $blue;
    border-bottom: 2px solid $blue;
  }

  &__content {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #abc;
    font-weight: 300;

    font-size: 1.2rem;

    @include for-large-phone-only {
      font-size: 1rem;
    }
  }
}
#tab1:checked ~ #content1,
#tab2:checked ~ #content2 {
  display: block;
}
