/**
 * Display Grid
 */

.Grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-row-gap: 1rem;
  margin: 0 auto;

  width: 100%;
}

@include at-least($phone-wide) {
  .Grid--2 {
    grid-template-columns: 1fr 1fr;
  }
}

@include at-least($small-screen) {
  .Grid--2 {
    grid-template-columns: 1fr 1fr;
  }
}

@include at-least($phone-wide) {
  .Grid--3 {
    grid-template-columns: 1fr 1fr;
  }
}

@include at-least($small-screen) {
  .Grid--3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/**
 * Object Modifiers: Demo specific modifer, don not use in production.
 */
.d-grid {
  display: grid;
  grid-gap: 1rem;
}
.grid {
  &--2 {
    grid-template-columns: 1fr 1fr;

    @include for-reg-desktop-up {
      grid-template-columns: 1fr 1fr;
    }
    @include for-tablet-landscape-up {
      grid-template-columns: 1fr;
    }
  }
  &--3 {
    grid-template-columns: 1fr 1fr 1fr;

    @include for-reg-desktop-up {
      grid-template-columns: 1fr 1fr;
    }
    @include for-tablet-landscape-up {
      grid-template-columns: 1fr;
    }
  }
  &-md-2 {
    grid-template-columns: 1fr;
    @include for-tablet-landscape-up {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.grid-gap {
  &-1 {
    grid-gap: 1rem;
  }
  &-2 {
    grid-gap: 2rem;
  }
  &--3 {
    grid-gap: 3rem;
  }
  &-4 {
    grid-gap: 4rem;
  }
}

.justify-self {
  &-center {
    justify-self: center;
  }
  &-start {
    justify-self: flex-start;
  }
  &-end {
    justify-self: flex-end;
  }
}
.justify-items {
  &-center {
    justify-items: center !important;
  }
  &-start {
    justify-items: flex-start !important;
  }
  &-end {
    justify-items: flex-end !important;
  }
}
.grid-full-span {
  grid-column: 1/-1;
}
