/**
 * Display Grid
 */

.Grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-row-gap: 1rem;
  margin: 0 auto;

  width: 100%;
}

@include at-least($phone-wide) {
  .Grid--2 {
    grid-template-columns: 1fr 1fr;
  }
}

@include at-least($small-screen) {
  .Grid--2 {
    grid-template-columns: 1fr 1fr;
  }
}

@include at-least($phone-wide) {
  .Grid--3 {
    grid-template-columns: 1fr 1fr;
  }
}

@include at-least($small-screen) {
  .Grid--3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/**
 * Object Modifiers: Demo specific modifer, don not use in production.
 */

.Grid--demo {
  transition: background-color 0.3s ease;
  border: 1px dotted #33cccc;

  &:hover {
    background: rgba(51, 153, 204, 0.6);
  }
}

.Card-grid {
  display: grid;
  &--2 {
    @extend .Card-grid;
    grid-template-columns: 1fr 1fr;
    transition: all 0.3s ease-in-out;

    @include for-tablet-portrait-up {
      grid-template-columns: 1fr;
      transition: all 0.3s ease-in-out;
    }
  }
  &--3 {
    @extend .Card-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  &--4 {
    @extend .Card-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.align__items {
  &-center {
    align-items: center;
  }
  &-start {
    align-items: flex-start;
  }
  &-end {
    align-items: flex-end;
  }
}
.align__self {
  &-center {
    align-self: center;
  }
  &-start {
    align-self: flex-start;
  }
  &-end {
    align-self: flex-end;
  }
}
.justify__self {
  &-center {
    justify-self: center;
  }
  &-start {
    justify-self: flex-start;
  }
  &-end {
    justify-self: flex-end;
  }
}
