@import "../abstracts/RFS";
// ===================================//
.agent--section {
  grid-column: full-start/full-end;
  grid-row: hero-start;

  height: 100%;
  .agent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;

    &__cover {
      grid-column: 1/-1;
      grid-row: 1/2;

      img {
        display: block;
        width: 100%;
        height: auto;
      }
      @include for-small-desktop-up {
        grid-column: 1/-1;
        grid-row: 1/-1;
      }
    }
    &__profile {
      width: 90%;
      max-width: 1350px;
      margin: auto;
      grid-column: 1/-1;
      grid-row: 1/-1;
      padding: 2rem 0;
      display: flex;
      align-items: center;
      color: $white;

      @include for-tablet-landscape-up {
        flex-direction: column;
      }
    }

    &__name {
      &--buttons {
        @include for-tablet-landscape-up {
          :first-child {
            margin-bottom: 0.5rem;
          }

          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
    }
  }
}
.profile {
  &__image {
    width: 50%;
    max-width: 30rem;

    @include for-tablet-landscape-up {
      width: 20rem;
      height: 20rem;
      border-radius: 50%;
      overflow: hidden;
      margin: 1rem 0;
    }
    img {
      width: 100%;
    }
  }

  &__details {
    display: grid;
    grid-gap: 1rem;
    background: $gradientBlue;
    padding: 3rem 1.5rem;
    width: 100%;

    @include for-tablet-landscape-up {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      padding: 3rem 2rem;
      border-radius: 1rem;
    }
    @include for-large-phone-only {
      padding: 3rem 1rem;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }
  }
  &__name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include for-tablet-landscape-up {
      grid-column: span 2;
    }
  }
  &__contacts {
    display: flex;
    justify-content: space-between;
    div {
      width: 100%;
    }

    @include for-tablet-landscape-up {
      flex-direction: column;
    }
    @include for-large-phone-only {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column: span 2;
    }
  }
  &__stat {
    display: flex;
    justify-content: space-between;
    div {
      width: 100%;
    }

    @include for-tablet-landscape-up {
      flex-direction: column;
      justify-content: flex-end;
    }
    @include for-large-phone-only {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column: span 2;
    }
  }

  // ==========PRFILE MODIFIERS================//
  &--dashboard {
    background: $blue !important;
  }
}
// ==============AGENT STYLES END===========================//
.agent__property {
  display: grid;
  grid-template-columns: minmax(100px, 400px) 1fr;
  align-items: center;
  &--image {
    img {
      width: 100%;
    }
  }
  &--details {
    display: grid;
  }
}

.properties,
.agent--comments {
  grid-column: el-center/el-center-end;
}

.show-more-span {
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  grid-column-gap: 1rem;
  &::before {
    content: "";
    display: block;
    height: 0.3rem;

    background-color: $blue;
  }
  &::after {
    content: "";
    display: block;
    height: 0.3rem;

    background-color: $blue;
  }
}

.agent--report {
  grid-column: 1/-1;
  grid-row: 1/-1;

  position: relative;

  justify-self: center;

  &-image {
    width: 12rem;

    @include for-large-phone-only {
      width: 10rem;
    }

    img {
      width: 100%;
    }
  }

  .agent--report-header {
    display: grid;
    justify-items: center;

    @include for-tablet-landscape-up {
      grid-template-columns: auto 1fr;
      align-items: center;
    }
    .agent--report-info {
      * {
        @include for-tablet-landscape-up {
          color: black !important;
        }
      }
    }
  }

  .generate--report {
    position: absolute;
    right: 0rem;

    button {
      padding: 1rem !important;
      @include font-size(1rem);
    }
  }
}
