@import "../abstracts/RFS";
// ===================================//
// ********************************************//

.header {
  grid-column: 1/-1;
  grid-row: hero-nav;

  z-index: 300;
  &--main {
    background-color: white;
    min-height: 5rem;
    padding: 0 5rem;
  }
  &--inverted {
    background-color: transparent;
    min-height: 5rem;
    padding: 0 5rem;
  }
  &__nav {
    width: 95%;
    margin: auto;
    max-width: 1350px;
    height: 100%;
    padding: 1rem 0;
    align-self: center;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  &__brand {
    width: 50%;
    max-width: 23rem;

    @include for-reg-desktop-up {
      max-width: 20rem;
    }
    img {
      display: block;
      width: 100%;
    }
    .main-logo {
      display: none;
    }
  }

  &__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  // COMPONENTS
  &--menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  &--button {
    :first-child {
      border: 0.2rem solid $blue;
      color: $blue;

      transition: all 0.3s ease-in-out;
      &:hover {
        border: 0.2rem solid $dark-blue;
        color: $dark-blue;

        transition: all 0.3s ease-in-out;
      }
    }
    :nth-child(2) {
      border: 0.2rem solid $blue;
      background-color: $blue;
      color: white;

      &:hover {
        border: 0.2rem solid $dark-blue;
        background-color: $dark-blue;
        color: $light-gray;

        transition: all 0.3s ease-in-out;
      }
    }

    @include for-small-desktop-up {
      :first-child {
        border: none;
        color: none;
        &:hover {
          border: none;
          color: none;
        }
      }
    }
  }
  &--link {
    margin: 0 1rem;
    a {
      @include font-size(1.2rem);
      text-decoration: none;
      color: $blue;
      font-weight: 600;

      &:hover {
        color: $dark-blue;
      }
    }
  }
  &__icon {
    display: none;
    cursor: pointer;
    position: relative;
    .icon--menu {
      position: relative;
      width: 3rem;
      height: 0.5rem;
      border-radius: 1rem;
      background-color: $blue;
      @include for-large-phone-only {
        width: 2.7rem;
        height: 0.3rem;
      }

      &:before {
        content: "";
        position: absolute;
        top: -1rem;
        width: 3rem;
        height: 0.5rem;
        border-radius: 1rem;
        background-color: $blue;
        @include for-large-phone-only {
          width: 2.7rem;
          height: 0.3rem;
        }
      }
      &:after {
        content: "";
        position: absolute;
        bottom: -1rem;
        width: 3rem;
        height: 0.5rem;
        border-radius: 1rem;
        background-color: $blue;
        @include for-large-phone-only {
          width: 2.7rem;
          height: 0.3rem;
        }
      }
    }
  }
}
.nav--inverted {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  .nav__brand {
    width: 50%;
    max-width: 23rem;

    @include for-reg-desktop-up {
      max-width: 20rem;
    }
    img {
      display: block;
      width: 100%;
    }
    .alt-logo {
      display: none;
    }
  }

  .nav__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav__right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &:nth-child(2) {
      border: 0.2rem solid $white;
      color: $white;
    }
  }
  // COMPONENTS
  .nav--menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  .nav--button {
    :first-child {
      border: 0.2rem solid $white;
      color: $white;

      transition: all 0.3s ease-in-out;
      &:hover {
        border: 0.2rem solid $light-gray;
        color: $light-gray;

        transition: all 0.3s ease-in-out;
      }
    }
    :nth-child(2) {
      border: 0.2rem solid $blue;
      background-color: $blue;
      color: white;

      &:hover {
        border: 0.2rem solid $dark-blue;
        background-color: $dark-blue;
        color: $light-gray;

        transition: all 0.3s ease-in-out;
      }
    }

    @include for-small-desktop-up {
      :first-child {
        border: none;
        color: none;
        &:hover {
          border: none;
          color: none;
        }
      }
    }
  }
  .nav--link {
    margin: 0 1rem;
    a {
      @include font-size(1.2rem);
      text-decoration: none;
      color: $white;
      font-weight: 600;

      &:hover {
        color: $dark-blue;
      }
    }
  }
  .nav__icon {
    display: none;
    cursor: pointer;
    position: relative;
    .icon--menu {
      position: relative;
      width: 3rem;
      height: 0.5rem;
      border-radius: 1rem;
      background-color: $white;

      @include for-large-phone-only {
        width: 2.7rem;
        height: 0.3rem;
      }

      &::before {
        content: "";
        position: absolute;
        top: -1rem;
        width: 3rem;
        height: 0.5rem;
        border-radius: 1rem;
        background-color: $white;

        @include for-large-phone-only {
          width: 2.7rem;
          height: 0.3rem;
        }
      }
      &::after {
        content: "";
        position: absolute;
        bottom: -1rem;
        width: 3rem;
        height: 0.5rem;
        border-radius: 1rem;
        background-color: $white;

        @include for-large-phone-only {
          width: 2.7rem;
          height: 0.3rem;
        }
      }
    }
  }
}

.nav__mobile {
  position: absolute;
  right: 2rem;
  z-index: 500;
  padding: 2rem;
  width: 50%;

  height: auto;

  border-radius: 1rem;
  background-color: $white;

  pointer-events: auto;

  transition: all 0.5s ease-in;
  display: none;

  .mobile__menu {
    display: grid;
    grid-gap: 1rem;

    &--nav {
      height: auto;

      ul {
        list-style: none;

        li {
          margin: 0.5rem 0;

          a {
            @include font-size(2.2rem);
            font-weight: 600;
            color: $blue;
            text-decoration: none;
            &:hover {
              color: $dark-blue;
            }
          }
        }
      }
    }

    &--actions {
      justify-self: center;
      height: 100%;

      display: flex;
      align-items: center;
    }
    &--buttons {
      * {
        width: 100%;
      }
    }
  }
}
.nav--active {
  display: block;
  transition: all 0.5s ease-in-out;

  @media (min-width: 991px) {
    display: none;
  }
}
.nav--account {
  display: flex;
  align-items: center;
  position: relative;

  .account--avatar {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 0.3rem;
    img {
      width: 100%;
    }
  }
}
.menu--action {
  @include font-size(1.2rem);
  color: $blue !important;
  text-decoration: none !important;
  font-weight: 600 !important;
}
